body {
  margin: 0 auto;
  padding: 30px;
}

#count {
  font-weight: bold;
  font-size: 20px;
  width: 50px;
  display: flex;
  justify-content: space-around;
}

hr {
  margin: 50px auto;
}

#count span {
  cursor: pointer;
}
